<html>
  <head>
   <meta http-equiv="content-type" content="text/html; charset=UTF-8">
   <style>
     .webfont-sentychalk ul {
       color: green;
       font-size: 44px;
       padding: 0;
       margin: 0;
     }
     .webfont-sentychalk li {
       list-style: none;
     }
   </style>
  </head>
  <body>
    <div>普通字体</div>
    <div class="webfont-sentychalk">
      <ul>
        <li class='red'>粉笔字体</li>
        <li class='blue'>黑板报字体</li>
      </ul>
      <div>
        <div>Chalk</div>
      </div>
    </div>
  </body>
</html>
